@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --bg: #e9eaff;
  --bg2: #fbfaff;
  --font: #3030a1;
  --login-bg: #e3ecfe;
  --shadow-light: 0 4px 12px rgba(0, 0, 0, 0.05);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Nunito", system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: var(--bg2);
  padding: 40px 20px 20px;
  text-align: center;
  box-shadow: var(--shadow-light);
}

.Typography {
  color: var(--font);
  font-weight: 600;
}
